<!DOCTYPE html>
<html>
<head>
    <title>Room {{ pin }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        let socket = io();
        window.onload = function() {
            let username = prompt("Enter your name:");
            let room = "{{ pin }}";
            socket.emit('join', {username: username, room: room});

            document.getElementById("send").onclick = function() {
                let msg = document.getElementById("msg").value;
                socket.emit('send_message', {msg: username + ": " + msg, room: room});
                document.getElementById("msg").value = "";
            };

            socket.on('message', function(data) {
                let chat = document.getElementById("chat");
                let p = document.createElement("p");
                p.innerText = data.msg;
                chat.appendChild(p);
            });
        }
    </script>
</head>
<body>
    <h1>Room {{ pin }}</h1>
    <div id="chat" style="border:1px solid #000; height:200px; overflow-y:scroll;"></div>
    <input id="msg" type="text" placeholder="Type a message..."/>
    <button id="send">Send</button>
</body>
</html>